.toast__pageLocation {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: white;
}

.toast__wrapper {
  background-color: #990000;
  border-radius: 5px;
  padding: 1px;
  margin: 10px;
  font-size: 16px;
  animation: toast-enter 0.5s, toast-exit 0.5s ease 4.5s;
}

.toast__content {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin: 10px;
}

.content__icon {
  width: 15px;
}

.content__text {
  flex: 1 0 auto;
  padding: 0 5px;
}

.text__header {
  font-weight: 500;
  margin-bottom: 5px;
}

.content__closeButton {
  flex: 0 0 auto;
  cursor: pointer;
}

@keyframes toast-enter {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toast-exit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}